.ico {
    cursor: pointer;
    display: inline-block;
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    &_yellow {
        background-color: $color-yellow;
    }
    &_red {
        background-color: $color-red;
    }
    &_blue {
        background-color: $color-blue;
    }
    &_violet {
        background-color: $color-violet;
    }
}

.ico_play {
    background-image: url("../img/icon/01.png");
    width: 18px;
    height: 19px;
}

.ico_arrow {
    background-image: url("../img/icon/tools/01.svg");
    width: 12px;
    height: 17px;
}
.ico_snake {
    background-image: url("../img/icon/tools/02.svg");
    width: 17px;
    height: 14px;
}
.ico_heart {
    background-image: url("../img/icon/tools/03.svg");
    width: 17px;
    height: 15px;
}
.ico_clock {
    background-image: url("../img/icon/tools/04.svg");
    width: 14px;
    height: 17px;
}